header {
	background: url(../images/50312d50b7b2cc587fc4cb12a2c58e89.jpg);
}

.fullheight {
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;

}

header h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}